@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "variables";

@layer base {
  body {
    // font-weight: normal;
    // line-height: normal;
    // color: theme("colors.black");
    // letter-spacing: normal;
    // font-size: rem(16);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a[href^="tel:"] {
    cursor: default;
  }
  button {
    appearance: none;
    outline: none;
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  img {
    image-rendering: -webkit-optimize-contrast; // Chromeでの画像ぼやけ防止
  }
}

@layer components {
  .btn-link {
    @apply bg-white text-black pl-0.5 pr-0.5 transition-colors;
    border: 1px solid theme("colors.black");
    &:hover {
      @apply bg-black text-white;
    }
  }
}

@layer utilities {
  .scroll-fade-in {
    @apply opacity-0;
    transition: opacity 0.5s ease;
    &.is-active {
      /*! purgecss start ignore */
      @apply opacity-100;
      /*! purgecss end ignore */
    }
  }
}
