@layer utilities {
  // リンクオフ
  .link-off {
    pointer-events: none;
    opacity: 0.7;
  }
  // SPのみ表示/非表示
  .sp-hidden {
    @include mq(md) {
      display: none;
    }
  }
  .sp-block {
    display: none;
    @include mq(md) {
      display: block;
    }
  }
  // スクロールアニメーション
  .scroll-hidden {
    opacity: 0;
    transform: translateY(rem(20));
    @include print {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .scroll-up {
    opacity: 1;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(0);
  }
  // ホバーアニメーション
  .hover-opacity {
    @include hover-opacity;
  }
}
