@import "config/functions";
@import "config/mixin";

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(#000, 0.5);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  visibility: hidden;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  transform: translate(-50%, -50%);
  @include mq(md) {
    width: calc(100% - #{sp(15 * 2)});
    max-width: 100%;
  }
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: rem(60);
  height: rem(60);
  transform: translate(50%, -100%);
  @include flex($jc: center, $ai: center);
  @include hover-opacity;
  @include mq(md) {
    width: sp(30);
    height: sp(30);
  }
  &:before,
  &:after {
    @include size-rem(2, 30);
    @include element($content: "", $d: block);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    @include mq(md) {
      @include size-sp(1, 20);
    }
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal_movie {
  position: relative;
  width: rem(700);
  padding-top: calc(315 / 560 * 100%);
  overflow: hidden;
  background-color: #000;
  @include mq(md) {
    width: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before {
    @include element($content: "", $d: block);
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    background: transparent !important;
    background-color: #fff;
    border: rem(2) solid #fff;
    border-bottom-color: transparent;
    border-radius: 100%;
    animation: rotate 0.75s 0s linear infinite;
    animation-fill-mode: both;
    @include size-rem(50);
    @include mq(lg) {
      @include size-tb(50);
    }
    @include mq(md) {
      @include size-sp(30);
    }
  }
}

.is_visible {
  visibility: visible;
  opacity: 1;
}
